/* Estilos generales para la tarjeta */
.tarjetaMascota {
    width: 320px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Añadir un efecto de hover en la tarjeta */
.tarjetaMascota:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Imagen de la mascota */
.fotoMascota {
    width: 75%;
    height: 250px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilos para los títulos */
.tarjetaMascota h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 12px;
    color: #6c757d; /* Color pastel suave */
}

.tarjetaMascota h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

/* Lista de detalles */
.tarjetaMascota ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tarjetaMascota ul li {
    font-size: 16px;
    margin: 8px 0;
    color: #5e6473;
    padding: 8px;
    border-radius: 8px;
    background-color: #f3f4f6; /* Color pastel claro */
}

/* Colores alternativos para los detalles */
.tarjetaMascota ul li:nth-child(odd) {
    background-color: #e9f5f4; /* Color pastel alternativo */
}

/* Estilos para el enlace */
.tarjetaMascota ul li a {
    color: #5e92f3;
    text-decoration: none;
}

.tarjetaMascota ul li a:hover {
    text-decoration: underline;
}

.primeraLineaInfoMascota{
    display: flex;
    gap: 55%;
    
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .tarjetaMascota {
        width: 100%; /* Ajustar el tamaño en pantallas pequeñas */
        margin: 10px 0;
    }
}
